﻿@page "/announcements"
<h3>Ank&uuml;ndigungen</h3>

@if (State.AddAnnouncement)
{
    <a class="btn btn-success" data-toggle="modal" data-target="#announcementModal"><span class="oi oi-plus" aria-hidden="true"></span> Erstellen</a><br><br>
}

@foreach (KeyValuePair<string, Tuple<Message, string>> announcement in _announcements)
{
    <div class="alert">
        <h4 class="alert-heading">@announcement.Value.Item2</h4>
        @if (State.DeleteAnnouncement)
        {
            <button type="button" class="close" @onclick=@(() => Delete(announcement.Key))>
                <span aria-hidden="true">&times;</span>
            </button>
        }
        <p>@announcement.Value.Item1.Content</p>
        <hr>
        <p class="mb-0">@announcement.Value.Item1.Timestamp.ToString("dd.MM.yyyy")</p>
    </div>
}

<div class="modal" id="announcementModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neue Ank&uuml;ndigung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Inhalt" rows="5" @bind="Content"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick=Create class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

@code {
    static IDictionary<string, Tuple<Message, string>> _announcements = new Dictionary<string, Tuple<Message, string>>();
    private string Content { get; set; } = "";
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await State.FetchData(Client, Nav);
            _announcements.Clear();
            foreach (KeyValuePair<string, Message> announcement in await Client.GetAnnouncementsAsync(State.SessionToken))
            {
                _announcements.Add(announcement.Key, new Tuple<Message, string>(announcement.Value, await State.GetName(Client, announcement.Value.Author)));
            }
            await base.OnInitializedAsync();
            //StateHasChanged();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task Delete(string announcement)
    {
        try
        {
            await Client.DeleteAnnouncementAsync(State.SessionToken, Guid.Parse(announcement));
            await OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task Create()
    {
        try
        {
            await Client.CreateAnnouncementAsync(State.SessionToken, Content);
            await JsRuntime.InvokeVoidAsync("hideDialog", "#announcementModal");
            Content = "";
            await OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}