﻿@page "/citizens"
<h3>B&uuml;rger</h3>

<a class="btn btn-success" data-toggle="modal" data-target="#newCitizenModal"><span class="oi oi-plus" aria-hidden="true"></span> Neu</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Benutzername</th>
            <th scope="col">Ganzer Name</th>
            <th scope="col">Men&uuml;</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < _citizens.Count; i++)
        {
            KeyValuePair<string, Citizen> vp = _citizens.ElementAt(i);
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@($"{vp.Value.Name.FirstNames.First()}.{vp.Value.Name.LastNames.First()}")</td>
                <td>@(string.Join(" ", vp.Value.Name.FirstNames.Concat(vp.Value.Name.LastNames)))</td>
                <td>
                    <a class="btn btn-success" href="settings/@vp.Key"><span class="oi oi-cog" aria-hidden="true"></span></a>
                    @if (State.RemoveCitizen && vp.Key != State.UserToken.ToString())
                    {
                        <a class="btn btn-danger" @onclick=@(() => Delete(vp))><span class="oi oi-trash" aria-hidden="true"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="newCitizenModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neuer B&uuml;rger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputTitle">Vorname</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Separiert mit Leerzeichen" @bind="FirstName"/>
                </div>
                <div class="form-group">
                    <label for="inputContent">Nachname</label>
                    <input type="text" class="form-control" id="inputContent" placeholder="Separiert mit Leerzeichen" @bind="LastName"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick=AddCitizen class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

@code {
    private static IDictionary<string, Citizen> _citizens = new Dictionary<string, Citizen>();
    private string FirstName { get; set; }
    private string LastName { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FetchData();
            await State.FetchData(Client, Nav);
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task AddCitizen()
    {
        try
        {
            Guid id = await Client.CreateCitizenAsync(State.SessionToken, new Citizen
            {
                Name = new Name {FirstNames = FirstName.Split(' '), LastNames = LastName.Split(' ')},
                Privileges = (BurgerApp.API.Privileges)(Privileges.Default)
            });
            await JsRuntime.InvokeVoidAsync("hideDialog", "#newCitizenModal");
            Nav.NavigateTo(Nav.ToAbsoluteUri($"settings/{id}").ToString());
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task FetchData()
    {
        FirstName = "";
        LastName = "";
        _citizens = await Client.GetCitizensAsync(State.SessionToken);
    }

    private async Task Delete(KeyValuePair<string, Citizen> vp)
    {
        try
        {
            await Client.DeleteCitizenAsync(State.SessionToken, Guid.Parse(vp.Key));
            await FetchData();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}