﻿@page "/developers"
<h3>Für Entwickler</h3>

Sie können auf die Swagger-Instanz <a target="_blank" rel="noopener noreferrer" href="@State.ApiUrl/swagger/index.html">hier</a> zugreifen<br>
Die Endpunkte stehen für Anwendungen dritter Parteien frei zur Verfügung.<br>
<br>
Der Quellcode ist <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/JFronny/burgerapp">hier</a> verfügbar