@page "/"
@if (State.LoggedIn)
{
    <div>
        <h1>Hallo, @State.FullName!</h1>

        Willkommen zur BürgerApp.<br>
        <div class="content-desktop">Sie können mit dem Menü links mit der App interagieren</div>
        <div class="content-mobile">Sie können mit dem Menü oben rechts mit der App interagieren</div>
    </div>
}
else
{
    <div>
        <h1>Willkommen zur BürgerApp!</h1>

        Aus Sicherheitsgründen erfordert die Verwendung der App eine Anmeldung mit ihrem Konto.<br>
        <div class="content-desktop">Klicken sie dazu oben rechts auf den Knopf "Anmelden"</div>
        <div class="content-mobile">Öffnen sie dafür das Menü (oben rechts) und klicken sie dann auf "Anmelden"</div>
    </div>
}
