@page "/polls"
@inject IJSRuntime JsRuntime
<h3>Abstimmungen</h3>

@if (_canCreate)
{
    <a class="btn btn-success" data-toggle="modal" data-target="#pollModal"><span class="oi oi-plus" aria-hidden="true"></span> Erstellen</a><br><br>
}

<div class="d-flex flex-row">
    @foreach (KeyValuePair<string, AnonymizedPoll> el in _requests)
    {
        <div class="card p-3 mr-2" style="width: 18rem; position: relative;">
            <h5 class="card-title">@State.GetShort(el.Value.Title, 20)</h5>
            <p class="card-text">@State.GetShort(el.Value.Content, 100)<br><br></p>
            <a href="polls/@el.Key" class="card-link btn btn-secondary" style="bottom: 1rem;position: absolute;">Abstimmen</a>
        </div>
    }
</div>

<div class="modal" id="pollModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neue Abstimmung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputTitle">Titel</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Titel" @bind="Title">
                </div>
                <div class="form-group">
                    <label for="inputContent">Inhalt</label>
                    <textarea class="form-control" id="inputContent" placeholder="Beschreibung" rows="5" @bind="Content"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputOptions">Optionen</label>
                    <textarea class="form-control" id="inputOptions" placeholder="Optionen (1 pro zeile)" rows="5" @bind="Options"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick=Create class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string Title { get; set; } = "";
    private string Content { get; set; } = "";
    private string Options { get; set; } = "";
    static IDictionary<string, AnonymizedPoll> _requests = new Dictionary<string, AnonymizedPoll>();
    static bool _canCreate;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await State.FetchData(Client, Nav);
            _requests = new Dictionary<string, AnonymizedPoll>();
            _requests = await Client.GetPollsAsync(State.SessionToken);
            _canCreate = State.LoggedIn && await Client.AreRequestsAvailableAsync(State.SessionToken) && State.HasPerm(Privileges.AddPoll);
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task Create()
    {
        try
        {
            Guid id = await Client.CreatePollAsync(State.SessionToken, Title, Content, Options.Split('\n').Select(s => s.EndsWith('\r') ? s.Substring(0, s.Length - 1) : s));
            await JsRuntime.InvokeVoidAsync("hideDialog", "#pollModal");
            Nav.NavigateTo(Nav.ToAbsoluteUri($"polls/{id}").ToString());
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}