﻿@page "/requests"
@inject IJSRuntime JsRuntime
<h3>Vorschl&auml;ge</h3>

@if (_canCreate)
{
    <a class="btn btn-success" data-toggle="modal" data-target="#requestModal"><span class="oi oi-plus" aria-hidden="true"></span> Erstellen</a><br><br>
}
<div class="d-flex flex-row">
    @foreach (KeyValuePair<string, Tuple<Request, string>> el in _requests)
    {
        <div class="card p-3 mr-2" style="width: 18rem; position: relative;">
            <h5 class="card-title">@State.GetShort(el.Value.Item1.Title, 20)</h5>
            @if (State.ListRequestsArbitrary)
            {
                <h6 class="card-subtitle mb-2 text-muted">@State.GetShort(el.Value.Item2, 30)</h6>
            }
            <p class="card-text">@State.GetShort(el.Value.Item1.MainMessage.Content, 100)<br><br></p>
            <a href="requests/@el.Key" class="card-link btn btn-secondary content-desktop" style="bottom: 1rem;position: absolute;">Diskussion</a>
            <div style="color:red" class="content-mobile">PC zur Diskussion verwenden!</div>
        </div>
    }
</div>

<div class="modal" id="requestModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neuer Vorschlag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputTitle">Titel</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Titel" @bind="Title">
                </div>
                <div class="form-group">
                    <label for="inputContent">Inhalt</label>
                    <textarea class="form-control" id="inputContent" placeholder="Kurze Beschreibung ihres Vorschlags" rows="5" @bind="Content"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick=Create class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string Title { get; set; } = "";
    private string Content { get; set; } = "";
    static IDictionary<string, Tuple<Request, string>> _requests = new Dictionary<string, Tuple<Request, string>>();
    static bool _canCreate;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await State.FetchData(Client, Nav);
            _requests = new Dictionary<string, Tuple<Request, string>>();
            foreach (KeyValuePair<string, Request> request in await Client.GetRequestsAsync(State.SessionToken))
            {
                if (!_requests.ContainsKey(request.Key))
                    _requests.Add(request.Key, new Tuple<Request, string>(request.Value, await State.GetName(Client, request.Value.MainMessage.Author)));
            }
            _canCreate = State.LoggedIn && await Client.AreRequestsAvailableAsync(State.SessionToken) && State.HasPerm(Privileges.AddRequest);
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task Create()
    {
        try
        {
            Guid id = await Client.CreateRequestAsync(State.SessionToken, Content, Title);
            await JsRuntime.InvokeVoidAsync("hideDialog", "#requestModal");
            Nav.NavigateTo(Nav.ToAbsoluteUri($"requests/{id}").ToString());
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}