﻿@page "/settings/{citizen:guid}"
<h3>Einstellungen für @_name</h3>
<br>
@if (State.ModifyPrivilegesArbitrary)
{
    <h4>Privilegien</h4>
    <div class="card">
        @foreach (KeyValuePair<Privileges, bool> n in privs)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id=@("inlineCheckbox" + n) value=@("option" + n) checked=@(n.Value) @onchange="@((ChangeEventArgs e) => privs[n.Key] = bool.Parse(e.Value.ToString()))">
                <label class="form-check-label" for=@("inlineCheckbox" + n)>@(n.Key.ToString())</label>
            </div>
        }
    </div>
    <br>
}
@if (State.ModifyPasswordArbitrary || (State.ModifyPassword && Citizen == State.UserToken))
{
    <h4>Passwort</h4>
    <input class="form-control" type="text" placeholder="Neues Passwort" @bind=Password>
    <br>
}
@if (State.ModifyNamesArbitrary)
{
    <h4>Name</h4>
    <input class="form-control" type="text" placeholder="Vornamen" @bind=FirstNames>
    <input class="form-control" type="text" placeholder="Nachnamen" @bind=LastNames>
    <br>
}


<a @onclick=Save class="btn btn-primary">Speichern</a>
@if (State.RemoveCitizen && State.UserToken != Citizen)
{
    <a class="btn btn-danger" @onclick=Delete><span class="oi oi-trash" aria-hidden="true"></span></a>
}

@code {
    [Parameter]
    public Guid Citizen { get; set; }
    private Citizen _data = new Citizen{Name = new Name{FirstNames = new[]{"Loading"}, LastNames = new[]{"Loading"}}, PasswordHash = "", Privileges = (BurgerApp.API.Privileges) Privileges.AddCitizen};
    private string _name = "Loading";
    private Dictionary<Privileges, bool> privs = new Dictionary<Privileges, bool>();
    private string Password { get; set; }
    private string FirstNames { get; set; }
    private string LastNames { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await State.FetchData(Client, Nav);
            await GetCitizen();
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task GetCitizen()
    {
        _data = (await Client.GetCitizensAsync(State.SessionToken)).First(s => s.Key == Citizen.ToString()).Value;
        _name = await State.GetName(Client, Citizen);
        FirstNames = string.Join(" ", _data.Name.FirstNames);
        LastNames = string.Join(" ", _data.Name.LastNames);
        privs.Clear();
        foreach (Privileges value in Enum.GetValues(typeof(Privileges)))
        {
            privs.Add(value, State.HasPerm(_data, value));
        }
    }

    private async Task Save()
    {
        try
        {
            if (State.ModifyPrivilegesArbitrary)
            {
                int i = privs.Where(s => s.Value).Aggregate(0, (l, s) => l | (int)s.Key);
                Console.WriteLine(i);
                await Client.ChangeCitizenPrivilegesAsync(State.SessionToken, Citizen, (BurgerApp.API.Privileges) i);
            }
            if (!string.IsNullOrWhiteSpace(Password))
            {
                await Client.ChangeCitizenPasswordAsync(State.SessionToken, Citizen, Password);
            }
            if (State.ModifyNamesArbitrary)
            {
                await Client.ChangeCitizenNameAsync(State.SessionToken, Citizen, new Name {FirstNames = FirstNames.Split(' '), LastNames = LastNames.Split(' ')});
            }
            await State.FetchData(Client, Nav);
            await GetCitizen();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
    
    private async Task Delete()
    {
        try
        {
            await Client.DeleteCitizenAsync(State.SessionToken, Citizen);
            Nav.NavigateTo(Nav.ToAbsoluteUri("Index").ToString());
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}