@page "/polls/{poll:guid}"
<a class="btn btn-secondary" @onclick=FetchData>Neu laden</a>
@if (State.RemovePollArbitrary)
{
    <a class="btn btn-danger" @onclick=Delete>L&ouml;schen</a>
}
@if (State.EditPoll)
{
    <a class="btn btn-success" data-toggle="modal" data-target="#pollEditModal"><span class="oi oi-pencil" aria-hidden="true"></span> Bearbeiten</a><br><br>
}
<br>
<h3>@CPoll.Title</h3>
<p>@CPoll.Content</p>
@for (int i = 0; i < CPoll.Options.Count; i++)
{
    int w = i;
    <div class="form-check">
        <input class="form-check-input" type="radio" name="vote" id=@("vote_" + w) @onclick="@(() => ChangeVote(w))" checked="@(_vote == i)">
        <label class="form-check-label" for="vote_0">
            @CPoll.Options.ToArray()[w].Title (@(TotalOptions > 0 ? CPoll.Options.ToArray()[w].Votes * 100 / TotalOptions : 0)%)
        </label>
    </div>
}

<div class="modal" id="pollEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neue Abstimmung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputTitle">Titel</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Titel" @bind="Title">
                </div>
                <div class="form-group">
                    <label for="inputContent">Inhalt</label>
                    <textarea class="form-control" id="inputContent" placeholder="Beschreibung" rows="5" @bind="Content"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputOptions">Optionen</label>
                    <textarea class="form-control" id="inputOptions" placeholder="Optionen (1 pro zeile)" rows="5" @bind="Options"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick=Edit class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

@code {
    private int TotalOptions => CPoll.Options.Aggregate(0, (i, option) => i + option.Votes);
    private string Title { get; set; } = "";
    private string Content { get; set; } = "";
    private string Options { get; set; } = "";
    [Parameter]
    public Guid Poll { get; set; }

    private AnonymizedPoll CPoll => _poll ?? new AnonymizedPoll{Title = "Loading", Content = "Loading", Options = new[] { new Option { Title = "Loading", Votes = 0 }}};

    private AnonymizedPoll _poll;
    private int _vote = 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FetchData();
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task FetchData()
    {
        try
        {
            _poll = (await Client.GetPollsAsync(State.SessionToken)).First(s => s.Key == Poll.ToString()).Value;
            Title = _poll.Title;
            Content = _poll.Content;
            Options = string.Join('\n', _poll.Options);
            try
            {
                _vote = await Client.GetVoteAsync(State.SessionToken, Poll);
            }
            catch
            {
                _vote = -1;
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task ChangeVote(int newVote)
    {
        try
        {
            await Client.VoteAsync(State.SessionToken, Poll, newVote);
            await FetchData();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task Delete()
    {
        try
        {
            await Client.DeletePollAsync(State.SessionToken, Poll);
            Nav.NavigateTo(Nav.ToAbsoluteUri("polls").ToString());
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task Edit()
    {
        try
        {
            await Client.EditPollAsync(State.SessionToken, Poll, Title, Content, Options.Split('\n').Select(s => s.EndsWith('\r') ? s.Substring(0, s.Length - 1) : s));
            await JsRuntime.InvokeVoidAsync("hideDialog", "#pollEditModal");
            RedirectToIndex.Target = $"polls/{Poll}";
            Nav.NavigateTo("redir");
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}