﻿@page "/requests/{request:guid}"
@inject HttpClient Http
<a class="btn btn-secondary" @onclick=FetchData>Neu laden</a>

<div style="height: calc(100% - 3rem); position: relative">
    <div style="left: 0; right: 0; top: 0; bottom: 2rem; position: absolute; overflow-y: scroll">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@CRequest.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@(CRequest.MainMessage.Timestamp.ToString("dd.MM.yyyy") + (State.ListRequestsArbitrary ? " - " +  _author : ""))</h6>
                <p class="card-text">@CRequest.MainMessage.Content</p>
                <a href="#" class="btn btn-danger" @onclick=Delete>L&ouml;schen</a>
            </div>
        </div>
        @if (CRequest.Answers != null)
        {
            <div style="display: flex; flex-direction: column; padding: 5px">
                @foreach (Tuple<Message, string> msg in _answers)
                {
                    <div style="position: relative; margin: 5px">
                        <div class="card p-2" style="width: max-content; @GetPos(msg.Item1)">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">@msg.Item1.Timestamp.ToString("dd.MM.yyyy") - @msg.Item2</h6>
                                <p class="card-text">@msg.Item1.Content</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div style="left: 0; right: 0; bottom: 0; height: 2rem; position: absolute">
        <div class="form-inline">
            <input type="text" class="form-control mr-1" placeholder="Kommentar" @bind=Comment style="width: calc(100% - 6rem)">
            <a class="btn btn-primary @(string.IsNullOrWhiteSpace(Comment) ? "disabled" : "")" @onclick=SendComment>Senden</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid Request { get; set; }
    public string Comment { get; set; }

    private Request CRequest => _request ?? new Request{Title = "Loading", MainMessage = new Message{Author = State.UserToken.Value, Content = "Loading", Timestamp = DateTimeOffset.Now}};

    private Request _request;
    
    private ICollection<Tuple<Message, string>> _answers = new List<Tuple<Message, string>>();

    private string _author = "";

    private async Task Delete()
    {
        try
        {
            await Client.DeleteRequestAsync(State.SessionToken, Request);
            Nav.NavigateTo(Nav.ToAbsoluteUri("requests").ToString());
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private string GetPos(Message msg)
    {
        try
        {
            if (msg.Author == State.UserToken)
                return "margin-left: auto;";
            else
                return "";
        }
        catch (Exception e)
        {
            JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
            return "";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FetchData();
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }

    private async Task FetchData()
    {
        try
        {
            _request = (await Client.GetRequestsAsync(State.SessionToken)).First(s => s.Key == Request.ToString()).Value;
            _answers = new List<Tuple<Message, string>>();
            if (_request.Answers != null)
                foreach (Message answer in _request.Answers)
                {
                    _answers.Add(new Tuple<Message, string>(answer, await State.GetName(Client, answer.Author)));
                }
            _author = await State.GetName(Client, CRequest.MainMessage.Author);
            StateHasChanged();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
            Console.WriteLine("Fuq");
        }
    }

    private async Task SendComment()
    {
        try
        {
            await Client.CreateRequestCommentAsync(State.SessionToken, Request, Comment);
            await FetchData();
            Comment = "";
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}