﻿@using WebUI.Pages
@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        @if (State.LoggedIn)
        {
            <!--@State.FullName <a class="btn btn-primary" href="#" @onclick=Logout><span class="oi oi-account-logout" aria-hidden="true"></span> Abmelden</a>-->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="signoutButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-person" aria-hidden="true"> @State.FullName</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="signoutButton">
                    <a class="dropdown-item" href="settings/@State.UserToken.ToString()"><span class="oi oi-cog" aria-hidden="true"></span> Einstellungen</a>
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                    <a class="dropdown-item" href="@State.ApiUrl/Dsgvo.zip?session=@State.SessionToken"><span class="oi oi-bar-chart"></span> Meine Daten</a>
                    <a class="dropdown-item" href="#" @onclick=Logout><span class="oi oi-account-logout" aria-hidden="true"></span> Abmelden</a>
                  </div>
            </div>
        }
        else
        {
            <a class="btn btn-primary" data-toggle="modal" data-target="#loginModal"><span class="oi oi-account-login" aria-hidden="true"></span> Anmelden</a>
        }
    </div>

    <div class="content px-4" style="height: calc(100% - 3.5rem)">
        @Body
    </div>
</div>

<div class="modal" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anmelden</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputUsername">Nutzername</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Vorname.Name" @bind="Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Passwort</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Passwort" @bind="Password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" @onclick=Login class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="errorModalLabel" class="modal fade" id="errorModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel"></h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@code
{
    private string Username { get; set; } = "";
    private string Password { get; set; } = "";

    private async Task Login()
    {
        try
        {
            Guid res = await Client.OpenSessionAsync(new Auth { Username = Username, Password = Password });
            State.TokenSource.Cancel();
            await JsRuntime.InvokeVoidAsync("hideDialog", "#loginModal");
            State.LoggedIn = true;
            State.SessionToken = res;
            State.UserToken = await Client.GetUserTokenAsync(State.SessionToken);
            Citizen citizen = await State.GetUser(Client, State.UserToken.Value);
            State.FullName = State.GetName(citizen);
            await State.FetchData(Client, Nav);
            RedirectToIndex.Target = "Index";
            Nav.NavigateTo("redir");
            await JsRuntime.InvokeVoidAsync("reloadNavbar");
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("hideDialog", "#loginModal");
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
        finally
        {
            Password = "";
        }
    }

    private async Task Logout() => Logout(Client, JsRuntime, Nav);

    public static async Task Logout(Client client, IJSRuntime jsRuntime, NavigationManager nav)
    {
        try
        {
            await client.CloseSessionAsync(State.SessionToken);
            State.FullName = null;
            State.LoggedIn = false;
            State.SessionToken = null;
            State.TokenSource.Cancel();
            await State.FetchData(client, nav);
            RedirectToIndex.Target = "Index";
            nav.NavigateTo("redir");
            await jsRuntime.InvokeVoidAsync("reloadNavbar");
        }
        catch (Exception e)
        {
            await jsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}
