﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">B&uuml;rgerApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" id="navbar-home">
                <span class="oi oi-home" aria-hidden="true"></span> Start
            </NavLink>
        </li>
        @if (State.LoggedIn && State.ListPolls)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="polls">
                    <span class="oi oi-task" aria-hidden="true"></span> Abstimmungen
                </NavLink>
            </li>
        }
        @if (State.LoggedIn && State.ListAnnouncements)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="announcements">
                    <span class="oi oi-bell" aria-hidden="true"></span> Ank&uuml;ndigungen
                </NavLink>
            </li>
        }
        @if (State.LoggedIn && State.ShowRequests)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="requests">
                    <span class="oi oi-comment-square" aria-hidden="true"></span> Vorschl&auml;ge
                </NavLink>
            </li>
        }
        @if (State.LoggedIn && State.ListCitizens)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="citizens">
                    <span class="oi oi-people" aria-hidden="true"></span> B&uuml;rger
                </NavLink>
            </li>
        }
        <li class="nav-item px-3 content-desktop">
            <NavLink class="nav-link" href="developers">
                <span class="oi oi-code" aria-hidden="true"></span> F&uuml;r Entwickler
            </NavLink>
        </li>
        @if (State.LoggedIn)
        {
            <li class="nav-item px-3 content-mobile">
                <a class="nav-link" href="settings/@State.UserToken.ToString()">
                    <span class="oi oi-cog" aria-hidden="true"></span> Einstellungen
                </a>
            </li>
            <li class="nav-item px-3 content-mobile">
                <a class="nav-link" href="@State.ApiUrl/Dsgvo.zip?session=@State.SessionToken">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Meine Daten
                </a>
            </li>
            <li class="nav-item px-3 content-mobile">
                <a class="nav-link" @onclick=@(() =>MainLayout.Logout(Client, JsRuntime, Nav))>
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Abmelden
                </a>
            </li>
        }
        else
        {
            <li class="nav-item px-3 content-mobile">
                <a class="nav-link" data-toggle="modal" data-target="#loginModal">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Anmelden
                </a>
            </li>
        }
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await State.FetchData(Client, Nav);
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            await JsRuntime.InvokeVoidAsync("errorDialog", e.GetType().ToString(), e.Message);
            Console.WriteLine(e.ToString());
        }
    }
}